// POINTS
$mobile-widths-only: '(max-width: 767px)';
$tablet-widths: '(min-width: 768px)';
$desktop-widths: '(min-width: 1150px)';

// FONTS
$font: 'font', 'Arial', sans-serif;

// FONT COLORS
$font-white: #fff;
$font-black: #000;

// BACKGROUND COLORS
$bg-white: #fff;
