html
{
    width: 100%;
    min-height: 100%;
}
body
{
    font-family: $font-roboto;
    font-size: 14px;
    font-weight: 400;

    min-width: 320px;
    min-height: 100%;
    margin: 0;

    background-color: $bg-grey;
    background-image: linear-gradient(48deg, $bg-grey, $bg-light-grey);

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
.visually-hidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}
