.filter
{
    padding: 31px 20px 28px;

    border-bottom: 1px solid rgba($bg-black, .1);
}

@media #{$desktop-widths}
{
    .filter
    {
        padding-top: 28px;
        padding-right: 48px;
        padding-left: 48px;
    }
}
@media #{$medium-desktop-widths}
{
    .filter
    {
        padding-top: 31px;
    }
}
@media #{$maximum-desktop-widths}
{
    .filter
    {
        padding-top: 28px;
    }
}
