extends template

block title
    title OMNIGON

block content
    include mixins/svg-use
    include mixins/players-list

    // Index main content
    .index-page
      include menu/menu
      main.content
        h1.visually-hidden Voting for players
        include tabs/tabs--players
        include filter/filter
        include players/players

    script(src='js/main.min.js')
