extends template

block title
    title

block content
    // Header
    include header/header

    // Index main content
    main.index-page

    // Footer
    include footer/footer

    script
      //- include ../js/main.min.js
