doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        block title
            title Title
        link(href='css/style.min.css', rel='stylesheet' type='text/css')
        script(src="js/picturefill.min.js" async)
        script(src="js/svg4everybody.min.js")
        script
          include ../js/svg4everybody.init.js
        script
          include ../js/picturefill.init.js
    body
        block content
