.filter
  .switcher
    p.switcher__description(id="descriptionSwitch") Present in random order
    input(type="checkbox" name="random" id="random-oder" aria-describedby="descriptionSwitch" checked)
    label(for="random-oder").switcher__label
      span.switcher__circle(tabindex="0")
