.tabs
  ul.tabs__list
    li.tabs__item
      a(href="#").tabs__link Detail
    li.tabs__item.tabs__item--active
      a(href="#").tabs__link Content
    li.tabs__item
      a(href="#").tabs__link Ads
    li.tabs__item
      a(href="#").tabs__link Data capture
    li.tabs__item
      a(href="#").tabs__link Look and feel
